<%= flash[:notice] %>

<div>
  <h4> Import a valid csv to start </h4>
    <%= form_tag dashboard_import_path, multipart: true do %>
    <%= file_field_tag :csv %>
    <%= submit_tag "Import CSV" %>
    <% end %>
</div>
<br>
<div>
  <p>
    *Download sample test csv file from
    <a href="https://drive.google.com/file/d/12dauOnBZlw1xRwCm33FtpGwF2M_K7gSf/view">here.</a>
  </p>
</div>
